* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: hsl(212, 45%, 89%);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.card h1 {
  font-size: 22px;
  margin: 18px 10px 12px;
  color: hsl(218, 44%, 22%);
}
